
.sidebar-column {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
}


.main-column {
    background-color: #f4f7f9;
    min-height: 100vh;
}

.custom-toast {
    border-radius: 12px;
    overflow: hidden;
    animation: slideIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15) !important;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#blazor-error-ui {
    background: #fff3cd;
    bottom: 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 2000;
}
